body {
  font-family: sans-serif;
  width: 300px;
  padding: 10px;
}

h1 {
  font-size: 1.2em;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}
